pkgbase = iwchaos
	pkgdesc = Target-kernel Intel Wi-Fi modules with a bounded rate policy
	pkgver = 0.2.4
	pkgrel = 3
	url = https://github.com/SisyphusAeolides/iwchaos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = git
	depends = binutils
	depends = curl
	depends = dkms
	depends = gcc
	depends = git
	depends = kmod
	depends = make
	depends = python
	depends = rust
	options = !lto
	options = !debug
	source = git+https://github.com/SisyphusAeolides/iwchaos.git#commit=b95567d308d644459ecf9f8c2c2493bcfee65a0c
	sha256sums = SKIP

pkgname = iwchaos
