pkgbase = iwchaos
	pkgdesc = Target-kernel Intel Wi-Fi modules with a bounded rate policy
	pkgver = 0.2.4
	pkgrel = 6
	url = https://github.com/SisyphusAeolides/iwchaos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = git
	depends = binutils
	depends = curl
	depends = dkms
	depends = gcc
	depends = git
	depends = kmod
	depends = make
	depends = python
	depends = rust
	options = !lto
	options = !debug
	source = git+https://github.com/SisyphusAeolides/iwchaos.git#commit=9e3387c663abb06810e686a404a4e46c3a79c55f
	sha256sums = SKIP

pkgname = iwchaos
