pkgbase = iwchaos
	pkgdesc = Target-kernel Intel Wi-Fi modules with a bounded rate policy
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/SisyphusAeolides/iwchaos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = git
	depends = binutils
	depends = curl
	depends = dkms
	depends = gcc
	depends = git
	depends = kmod
	depends = make
	depends = python
	depends = rust
	options = !lto
	options = !debug
	source = git+https://github.com/SisyphusAeolides/iwchaos.git#commit=744aa06236be276467c57ea3f951e8e1aad9c568
	sha256sums = SKIP

pkgname = iwchaos
