pkgbase = blerust
	pkgdesc = Blazing fast and robust line editor in Rust (replacement for blesh)
	pkgver = 0.1.10
	pkgrel = 1
	url = https://github.com/SisyphusAeolides/blerust
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	depends = glibc
	provides = blerust
	provides = blesh
	conflicts = blesh
	conflicts = blesh-git
	options = !lto
	source = git+https://github.com/SisyphusAeolides/blerust.git#commit=5e20dc58dae2eb2f8493f062fb56ff303bcf8d02
	sha256sums = SKIP

pkgname = blerust
