pkgbase = blerust
	pkgdesc = Blazing fast and robust line editor in Rust (replacement for blesh)
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/SisyphusAeolides/blerust
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	depends = glibc
	provides = blerust
	provides = blesh
	conflicts = blesh
	conflicts = blesh-git
	options = !lto
	source = git+https://github.com/SisyphusAeolides/blerust.git#commit=f624c77ec4cd90a75148f7583ef7c9b29ae7fbd0
	sha256sums = SKIP

pkgname = blerust
