pkgbase = libinput-rs
	pkgdesc = 100% drop-in Rust replacement for the libinput 1.31.3 C ABI and tools
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/SisyphusAeolides/libinput-rs
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	makedepends = gcc-fortran
	makedepends = meson
	makedepends = curl
	makedepends = patch
	makedepends = rpm-tools
	depends = glibc
	depends = gcc-libs
	depends = systemd-libs
	depends = python-libevdev
	depends = python-pyudev
	depends = python-yaml
	provides = libinput
	conflicts = libinput
	conflicts = libinput-rs-git
	replaces = libinput
	replaces = libinput-rs-git
	source = git+https://github.com/SisyphusAeolides/libinput-rs.git#tag=v0.3.1
	sha256sums = SKIP

pkgname = libinput-rs
