pkgbase = rustd
	pkgdesc = Compatibility-oriented reimplementation of systemd
	pkgver = 0.1.0
	pkgrel = 7
	url = https://github.com/SisyphusAeolides/rustd
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = cargo
	makedepends = git
	makedepends = gcc-fortran
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = libcap
	depends = libseccomp
	depends = pam
	depends = dbus
	depends = audit
	depends = libxcrypt
	depends = pcre2
	provides = systemd
	conflicts = systemd
	conflicts = systemd-git
	conflicts = rustd-git
	replaces = systemd-git
	replaces = rustd-git
	source = git+https://github.com/SisyphusAeolides/rustd.git#commit=0bbc4a9112e8613fd0baa8bac801990abb03c569
	sha256sums = SKIP

pkgname = rustd
