pkgbase = ccze-rs
	pkgdesc = Fast streaming log colorizer with native analytics and formally specified protocol verification
	pkgver = 0.5.4
	pkgrel = 2
	url = https://github.com/SisyphusAeolides/ccze-rs
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	makedepends = gcc-fortran
	depends = gcc-libs
	depends = glibc
	provides = ccze
	conflicts = ccze
	conflicts = ccze-rs-git
	replaces = ccze
	replaces = ccze-rs-git
	options = !lto
	source = git+https://github.com/SisyphusAeolides/ccze-rs.git#commit=51cb08d20e33fb8cb45762db293a9405f9c62cbf
	sha256sums = SKIP

pkgname = ccze-rs
