pkgbase = rustd-resolved
	pkgdesc = RustD DNS resolver (side-by-side certification build)
	pkgver = 0.2.2
	pkgrel = 2
	url = https://github.com/SisyphusAeolides/rustd-resolved
	install = rustd-resolved.install
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = cargo
	makedepends = git
	makedepends = gcc-fortran
	makedepends = liburing
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = liburing
	conflicts = rustd-resolved-git
	source = git+https://github.com/SisyphusAeolides/rustd-resolved.git#commit=d5f7610d2f8696c2b335115fe81c94fce362a05d
	sha256sums = SKIP

pkgname = rustd-resolved
