pkgbase = rustd-resolved
	pkgdesc = Compatibility-oriented Rust reimplementation of systemd-resolved
	pkgver = 0.2.1
	pkgrel = 4
	url = https://github.com/SisyphusAeolides/rustd-resolved
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = cargo
	makedepends = git
	makedepends = gcc-fortran
	makedepends = liburing
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = systemd
	depends = liburing
	provides = systemd-resolved
	conflicts = systemd-resolved
	conflicts = systemd-resolved-git
	conflicts = rustd-resolved-git
	replaces = systemd-resolved
	replaces = systemd-resolved-git
	replaces = rustd-resolved-git
	source = git+https://github.com/SisyphusAeolides/rustd-resolved.git#commit=9664e097f9e688474944ab4ab837eef1a83beb7f
	sha256sums = SKIP

pkgname = rustd-resolved
